:root {
    /* Primary Color */
    --tomato: hsl(4, 100%, 67%);

    /* Neutral Colors */
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);


    /* fonts */
    --ff-primary: 'Roboto', sans-serif;
    --fw-400: 400; /* base */
    --fw-700: 700;
    --fs-16: 1rem; /* 16px base */

}


body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-400);
    font-size: var(--fs-16);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--charcoal-grey);
}

/*----------------Mobile layout--------------------*/
.grid-container {
    background-color: var(--white);
}

.hidden {
    display: none;
}

.show {
    display: block;
}

/* style 1st component - mobile */
/*https://www.w3schools.com/accessibility/accessibility_heading_levels.php*/
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* style 2.1 component - mobile */

/* style 2.2 component - mobile */
.newsletter__info {
    margin: auto;
    max-width: 20rem;
}

.newsletter__description {
    margin-bottom: 1.5rem;
}

.newsletter__description-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.newsletter__description-offer {
    margin-bottom: 1rem;
}

.newsletter__description-offer-list {
    list-style-type: none;
}

.newsletter__description-offer-list li {
    display: grid;
    grid-template-columns: 1fr 11fr;
    gap: 1rem;
    padding-bottom: 0.5rem;
}

#newsletter__subscription-form-error {
    font-size: .8rem;
    font-weight: var(--fw-700);
    color: var(--tomato);
    float: right;
    margin-top: .4rem;
}

.inputEmail {
    position: relative;
}

.inputEmail label {
    font-weight: var(--fw-700);
}


.inputEmail input {
    width: 100%;
    padding: 1rem;
    margin-top: 0.3rem;
    margin-bottom: 1.5rem;
    border: 0.1rem solid var(--grey);
    border-radius: 0.5rem;
    font-weight: var(--fw-700);
}

.inputSubmit {
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    border: 0.1rem solid var(--dark-slate-grey);
    border-radius: 0.5rem;
    background-color: var(--dark-slate-grey);
    color: var(--white);
    font-weight: var(--fw-700);
}

.inp__onError {
    background-color: hsl(4, 100%, 67%, .2);
    color: var(--tomato);
    outline-color: var(--tomato);
    border-color: var(--tomato) !important;
}

.error__sign {
    position: absolute;
    top: 3rem;
    right: .4rem;
}

.newsletter__subscription-success-image {
    margin: 6rem 0 2rem 5%;
    max-width: 3.5rem;
}

.newsletter__subscription-success-title {
    margin: 0 5% 1.5rem 5%;
    font-weight: var(--fw-700);
    font-size: 2.5rem;
    line-height: 1;
}

.newsletter__subscription-success-info {
    margin: 0 5% 1.5rem 5%;
}

.newsletter__subscription-success-btn {
    cursor: pointer;
    width: 90%;
    margin: 6rem 5% 1rem 5%;
    padding: 1rem;
    text-align: center;
    border: 0.1rem solid var(--dark-slate-grey);
    border-radius: 0.5rem;
    background-color: var(--dark-slate-grey);
    color: var(--white);
    font-weight: var(--fw-700);
}


/*---------------------Desktop layout-------------------------*/
@media screen and (min-width: 48rem) {

    .grid-container {
        margin: 1rem 0 0 0;
        padding: 1rem;
        border-radius: 1.5rem;
    }

    .newsletter {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'newsletter__info newsletter__image'
            'myModal myModal';
        gap: 2rem;
        max-height: 37.2rem;
    }

    .newsletter__info {
        max-width: 23rem;
    }

    .newsletter__image {
        justify-self: end;
    }

    .inputSubmit {
        margin: 0;
    }

    .inpBorder__onFocus:hover {
        cursor: pointer;
        border-color: var(--dark-slate-grey);
    }
    
    .btnColor__onFocus:hover {
        background-image: linear-gradient(to right, #f45366 40%, #fe8f47);
        border: none;
    }

    .newsletter__subscription-success {
        max-width: 25rem;
    }

    .newsletter__subscription-success-image {
        margin: 0rem 0 2rem 5%;
  }

  .newsletter__subscription-success-btn {
      margin: 1.5rem 5% 2rem 5%;
  }

  .newsletter__subscription-success-btn:hover {
      background-image: linear-gradient(to right, #f45366 40%, #fe8f47);
      border: none;
  }

}


/*----------------grid area names----------------------------*/

.newsletter__info {
    grid-area: newsletter__info;
}

.newsletter__image {
    grid-area: newsletter__image;
}

#myModal {
    grid-area: myModal;
}

